@font-face{
    
    font-family:"black_jack";
    src: url("black_jack.ttf");


}
#body{
	margin: 0px;
}

#module_1{
	background-image: url(fumu.jpg);
	width: 100%;
	height:100%;
	background-size: cover;
	background-size:100% 100%;
	margin: 0px;
	padding: 0px;
	border: none;
    float:left;
clear:none;  
/*
    margin-bottom: 0px;
    padding-bottom: 0px;
*/

	

}

#fumu{
	font-size: 70px;
	padding-left: 27%;
	padding-top: 6%;
	font-family: black_jack;
	color:black;
}

#m2_h2{
	padding-left: 43%;


}

#m2_h4{
	padding-left: 36%;

}

.form-horizontal{
	padding-left: 33%;
	width: 70%;
}

.controls{
	width: 100%;
}

.input-xlarge {
	width: 100%;
}

.textarea{
	width: 100%;
	
	
}

#m2_p{
    padding-left: 28%;
    padding-top: 5%;
    padding-bottom: 3%;
}

#m2_h{
    padding-left: 17%;
}


/*photo display*/

/*
#table{
    background-color: #34495E
}
*/

#module_3{
    display: table;
    width:100%;
    height: 180%;
	border-spacing: 0px;
	margin-bottom: 0px;
    
/*    background-color: #34495E;*/
}

#m3_R1{
    display: table-row;
/*    padding-bottom: 3%;*/
/*    height:60%;*/
    
}

#m3_R2{
    display: table-row;
/*    height:60%;*/
}

#m3_R3{
    display: table-row;
/*    height:60%;*/
}




#m3_R1_1{
    display: table-cell;
    background-image: url(1.jpg);
    background-size:contain;
/*    padding-right: 2%;*/
/*    margin-right: 2%;*/
}

#m3_R1_2{
    display: table-cell;
    background-image: url(2.jpg);
    background-size:cover;
}

#m3_R2_1{
    display: table-cell;
    background-image: url(3.jpg);
    background-size:cover;
}

#m3_R2_2{
    display: table-cell;
    background-image: url(4.jpg);
    background-size:cover;
}

#m3_R3_1{
    display: table-cell;
    background-image: url(5.jpg);
    background-size:cover;
}

#m3_R3_2{
    display: table-cell;
    background-image: url(6.jpg);
    background-size:cover;
}

#button{
    padding-left: 38%;
    padding-top: 8%;
}



.hvr-sweep-to-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-bottom:before {
  content: "The New York Times (NYT) is an American daily newspaper, founded and continuously published in New York City since September 18, 1851, by the New York Times Company. It has won 117 Pulitzer Prizes, more than any other news organization.[5][6][7] The paper's print version has the largest circulation of any metropolitan newspaper in the United States, and the second-largest circulation overall, behind The Wall Street Journal. It is ranked 39th in the world by circulation. Following industry trends, its weekday circulation has fallen to fewer than one million daily since 1990.[8] Nicknamed for years as \"The Gray Lady\", The New York Times is long regarded within the industry as a national \"newspaper of record\".[9] It is owned by The New York Times Company. Arthur Ochs Sulzberger, Jr., (whose family (Ochs-Sulzberger) has controlled the paper for five generations, since 1896), is both the paper's publisher and the company's chairman.[10] Its international version, formerly the International Herald Tribune, is now called the International New York Times.";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #34495E;
  opacity: 0.8;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}
.hvr-sweep-to-bottom:hover, .hvr-sweep-to-bottom:focus, .hvr-sweep-to-bottom:active {
  color: white;
}
.hvr-sweep-to-bottom:hover:before, .hvr-sweep-to-bottom:focus:before, .hvr-sweep-to-bottom:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

#module_4{
    background-color: #34495E;
    color: #ECF0F1;
    height: 60%;
}

.center{
    text-align: center;
}

#m4_h3{
    padding-top: 2%;
    
}


#module_6{
    background-color: #2C3E50;
    margin-top: 0px;
    padding-top: 0px;
    float:left;
clear:none;  
    width: 100%;
}

#m6_p{
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
}


